@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Euclid Circular B", sans-serif;
    /* @apply t; */
  }
  header {
    @apply  flex w-full justify-between items-center px-4 py-3 transition-all lg:px-10 lg:py-3;
  }
  .mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
  }
}
/* 
@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/font/euclid-circular/Euclid-Circular-B-Bold-Italic.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/font/euclid-circular/Euclid Circular B Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/font/euclid-circular/Euclid Circular B Light Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B Medium Italic.ttf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B SemiBold Italic.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid Circular B SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B', sans-serif";
  src: url("../assets/font/euclid-circular/Euclid-Circular-B-Bold-Italic.ttf");
  font-weight: bold;
  font-style: normal;
} */
